#inbox1 {
  display: flex;
  justify-content: space-between;
  padding: 0 20px;
}
#inbox1 ul {
  margin-right: 50px;
  margin-left: 40px;
  font-style: 14.5px;
  font-weight: bold;
}
#inbox1 ul li {
  font-size: 13.5px;
  font-weight: 700;
  padding-top: 12px;
  color: #999;
}
#inbox1 ul li a {
  text-decoration: none;
  color: #666;
}

#inbox1 li a:hover {
  text-decoration: underline;
}
#inbox1 li input[type="button"] {
  margin-top: 10px;
  padding: 8px 15px 8px 15px;
  border: solid 1px #333;
  font-size: 13px;
  color: #270949;
  border-radius: 5px;
  cursor: pointer;
  font-weight: 900;
  background-color: white;
}
#inbox1 li input[type="button"]:hover {
  background-color: rgba(63, 127, 161, 0.1);
}
.foot_main2 {
  margin-right: 0px;
  margin-left: 20px;
}
.foot_main1 {
  margin-right: 30px;
  margin-left: 0px;
  font-size: 16.5px;
}
.footer_top {
  padding-top: 20px;
}
#inbox .foot_main2 #bold a {
  color: #111;
}
#footer {
  height: 480px;
}
.foot_main1 {
  color: #270949;
}
.foot_main {
  color: #270949;
}
.foot_main2 {
  color: #270949;
}
#footer_box1 {
  height: 300px;
  border-top: solid 1px #ccc;
  border-bottom: solid 1px #ccc;
}
#footer_box2 {
  height: 180px;
  text-align: center;
  font-size: 12.5px;
}
#inbox1,
#inbox2 {
  width: 1200px;
}
#inbox1 {
  margin-top: 30px;
}
#inbox2 {
  padding-top: 15px;
  font-weight: 700;
  line-height: 15px;
  word-spacing: 0px;
}
#inbox2 span {
  line-height: 1.8;
  color: #270949;
}
#inbox2 a {
  margin-top: 30px;
  text-decoration: none;
  color: #999;
}
#foot_a {
  margin-top: 20px;
  font-size: 11.2px;
  line-height: 20px;
}
#copy {
  margin-top: 20px;
  color: #ccc;
  font-size: 12px;
}
#image_box {
  width: 1150px;
  display: flex;
  justify-content: end;
}
.image,
.image1 {
  margin-top: 35px;
  border: solid 1px #111;
  border-radius: 5px;
}
.image1 {
  margin-right: 10px;
}
.image1:hover,
.image:hover {
  border: solid 1.3px rgb(63, 127, 161);
}
