.container {
  width: 100%;
}

.hide {
  display: none;
}
.show {
  display: block;
}

/* 회원가입 헤더 */
img {
  margin: 0 auto;
  margin-top: 150px;
  width: 200px;
}
.container .header {
  width: 100%;
  height: 60px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 40px;
  font-size: 18px;
  color: #270949;
}

.star {
  color: #ff7262;
}
span {
  color: black;
}
.font_16 {
  font-size: 16px;
  margin-bottom: 8px;
  /* display: flex; */
  color: #555969;
}

/* 회원가입 박스 */
.container .center {
  width: 100%;
  display: flex;
  justify-content: center;
}

.container .center .center_menu {
  width: 500px;
  border-radius: 4px;
  border: 1px solid rgb(228, 229, 237);
  padding-bottom: 30px;
}

.container .center .center_menu .check_wan {
  font-weight: normal;
  text-align: left;
  margin-bottom: 40px;
  background-color: rgba(39, 9, 73, 0.9);
  color: #fff;
  padding: 20px;
  border-radius: 5px 5px 0 0;
}

.container .center .center_menu .check_wan .input_name {
  display: flex;
  justify-content: left;
}

/* input창 */
input::placeholder {
  font-size: 15px;
  font-weight: bold;
  color: rgb(206, 206, 215);
}

/* pw */
.container .center .center_menu .pw .input_wrapper {
  margin: 0 auto;
  width: 404px;
  border-radius: 4px;
  border: 1px solid rgb(228, 229, 237);
  padding: 10px 16px;
  margin-bottom: 10px;
}

.container .center .center_menu .pw {
  margin-bottom: 20px;
}

.container .center .center_menu .pw .input_wrapper:hover {
  border: 1px solid black;
}
.container .center .center_menu .pw .input_wrapper .input_login {
  width: 376px;
  height: 50px;
  border: none;
  font-size: 18px;
}
.container .center .center_menu .pw .input_wrapper .input_login::placeholder {
  font-size: 18px;
}

.container .center .center_menu .pw .input_wrapper .input_login:focus {
  outline: none;
}

/* 회원가입버튼 */
.container .center .center_menu .join_button {
  margin: 0 auto;
  margin-top: 30px;
  display: flex;
  justify-content: center;
}

.container .center .center_menu .join_button .join_btn {
  width: 404px;
  height: 52px;
  font-weight: bold;
  background-color: white;
  border-radius: 4px;
  border: 1px solid rgb(70, 84, 163);
  color: rgb(70, 84, 163);
  font-size: 16px;
  cursor: pointer;
  transition: background-color linear 0.3s;
}

.container .center .center_menu .join_button .join_btn:hover {
  background-color: aliceblue;
}
